[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes
