.archive li {
  font-size: 1.1em;
}

.archive time {
  display: inline-block;
  min-width: 10ch;
  margin: 0 .2em;
}

.hidden {
  display: none;
}

.more {
  margin: 2em 0 1em;
}

.more a {
  border-radius: 2px;
  border: 1.5px solid #68f;
  padding: .4em .8em;
  transition: .2s;
}

.more a:hover {
  color: #fff;
  background: #68f;
  text-decoration: inherit;
}

.icons svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
  transition: .2s color;
  vertical-align: middle;
  margin-bottom: .15em;
}
